.work-experience {
    width: 100%;
    border-collapse: collapse;
  }
  
  .work-experience th,
  .work-experience td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid black;
  }
  
  .work-experience th {
    background-color: white;
  }
  
  .work-experience tbody tr:nth-child(even) {
    background-color: white;
  }
  
  .work-experience tbody tr:hover {
    background-color: #e5e5e5;
  }
  
  .work-experience td {
    /* Add word-break: break-word and set max-width to limit the width of the cell */
    word-break: break-word;
    max-width: 300px;
  }
  
  .work-experience td::after {
    /* Add content and whitespace pre-wrap to preserve line breaks */
    content: attr(data-content);
    white-space: pre-wrap;
  }
  
  .work-experience td::before {
    /* Add content and replace spaces with non-breaking spaces */
    content: attr(data-content);
    white-space: pre-wrap;
    word-break: break-word;
    /* Replace regular spaces with non-breaking spaces */
    word-spacing: 0.2em;
    /* Add padding-bottom for spacing */
    padding-bottom: 1em;
  }
  

 /* Form section*/

 .workTitle{
  text-align: center;
  font-size: 25px;
 }
  .workExperience {
    min-height: 30vh;
    display: grid;
    align-items: center;
  }
  
  .workForm {
    display: flex;
    flex-wrap: wrap;
    
    & > input {
      flex: 1 1 10ch;
      margin: .5rem;
      
      &[type="email"] {
        flex: 3 1 30ch;
      }
    }
  }
  
  .workInput {
    border: none;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: .75rem 1rem;
  }
    .workButton {
      border-radius: .25rem;
      background: orange;
      color: white;
      box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
      padding: 10px;
    }
  

/* Skills icons section */  

.skills-section {
    padding-top: 20px;
    position: relative;
    z-index: 1;
    width: 96%;
}

.skills-header {
    text-align: center;
    color: black;
    padding: 1rem;
    position: relative;
}

.skills-header:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 4px;
    background-color: #060606;
    border-radius: 2px;
}

.skills-container {
    display: grid;
    grid-tempLate-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
}

.skills-container-last {
    display: grid;
    grid-tempLate-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

/*Make skills box have a cursor, and how the grid row should be*/

.skills-box {
    grid-row: 1;
    padding: 1rem;
    color: #000;
    cursor: pointer;
}

/*Makes the items in the grid start in the middle*/

.skills-box:nth-child(1) {
    grid-column-start: 3;
    grid-column-end: 3;
}

.skills-box:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 2;
}

.skills-box:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 4;
}

.skills-box:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 1;
}

.skills-box:nth-child(5) {
    grid-column-start: 5;
    grid-column-end: 5;
}

/*Make other skills have a cursor, and how the grid row should be*/

.skills-box-other-skills {
    grid-row: 1;
    padding: 1rem;
    color: #000;
    cursor: pointer;
}


/*The hover section for all images*/

.skills-box:hover .skills-img {
    transform: translateX(-5px);
}

.skills-box-other-skills:hover .skills-img {
    transform: translateX(-5px);
}


.skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skills-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 20px;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: .5s;
}

.skills-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
}

.skills-last-extra-width{
    margin-left: 12%;
}

/* CSS For Skills Icons*/

.skills-icons {
    border-radius: 10px;
    width: 50px;
    z-index: 2;
}

/* CSS For Skills images*/

.skills-img {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.skills-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

.skills-title h3 {
    color: #333;
    margin-top: 0.5rem;
}

@media screen and (max-width:990px) {
    .skills-container {
        grid-tempLate-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width:650px) {
    .skills-container {
        grid-tempLate-columns: 2fr;
        padding: 2rem 50px;
    }
}