.Chat {
  text-align: center;
}

.received-message {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.delete-button {
  cursor: pointer;
  color: red;
}

.Chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
}

.Chat h1 {
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.Chat form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.Chat input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.Chat button {
  padding: 10px 20px;
  background-color: #ffaa00;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Chat button:hover {
  background-color: #ffcc33;
}

.received-message {
  display: flex;
  align-items: center;
  margin: 10px 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  line-height: 2;
}

.received-message h2 {
  margin: 0;
  flex: 1;
}

.delete-button {
  background-color: #d81111;
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #870303;
}

.Chat .error-message {
  color: red;
  font-size: 30px;
  margin-top: 10px;
}
